services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: gcl_sdk
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: gcl_sdk
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data/pgdata
